.App {
  display: flex;
  justify-content: center;
}
.chat-container{
  padding: 20px;
  border:1px solid black;
  height: 200px;
  border-radius: 5px;
  margin: 10px 0;
  overflow-y: scroll;
}
.send-container{
  display: flex;
  align-items: center;
}
.send-container>button{
  margin-left: 2px;
}
